
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Tic Tac Toe Game", '/game_page/home', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/game_page/home' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

